.cart-container {
  margin: 2rem 5rem;
}

.cart-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 3rem 0;
}

.breadcrumb {
  color: rgba(142, 142, 142, 1);
}

.breadcrumb b {
  color: var(--primary-text-color);
}

.table {
  margin-bottom: 4rem;
}

.standby-table-deets {
  display: none;
}

.table-head {
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--product-item-bgc);
  width: 60rem;
  height: 60px;
  font-weight: 600;
  font-size: var(--primary-font-size);
}

.table-head div {
  padding: 10px;
  margin-right: 10px;
  gap: 10px;
}

.table-row {
  height: 130px;
  background-color: var(--product-item-bgc);
  margin-top: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--product-item-bgc);
  width: 60rem;
}

.table-row td {
  display: flex;
}

.table-row .tr-img img {
  width: 100px;
  height: 100px;
}

.table-descr {
  display: flex;
  flex-direction: column;
}

.table-descr span:first-child {
  font-size: var(--primary-font-size);
  font-weight: 500;
  line-height: 1.2;
}

.table-descr span:last-child {
  font-weight: 400;
  font-size: var(--small-font-size);
  color: rgba(79, 79, 79, 1);
  line-height: 1.2;
}

.unit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
  gap: 15px;
}

.unit span {
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
}

.unit span:nth-child(1) {
  border-right: 1px solid var(--secondary-color);
}

.unit span:nth-child(3) {
  border-left: 1px solid var(--secondary-color);
}

.unit span:nth-child(1) .icon,
.unit span:nth-child(3) .icon {
  height: 24px;
  width: 24px;
}

.table-row .price,
.table-row .total {
  font-size: var(--nav-font-size);
  font-weight: 700;
  text-align: right;
}

.clear-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  color: rgba(255, 153, 153, 1);
}

@media screen and (max-width: 960px) {
  .cart-container {
    margin: 2rem;
  }

  .cart-body {
    display: flex;
    flex-direction: column;
  }

  .table {
    width: 100%;
  }

  .table .table-head {
    width: 100%;
    padding-right: unset;
  }

  .table .table-head div:not(:nth-child(2)):not(:nth-child(5)) {
    display: none;
  }

  .table-row > .table-descr,
  .table-row > .unit,
  .table-row > .price,
  .table-descr span:last-child {
    display: none;
  }

  .standby-table-deets {
    display: grid;
    flex-direction: column;
  }

  .table-row .price {
    text-align: unset;
    font-size: 12px;
    color: var(--secondary-color);
    font-weight: unset;
    line-height: 2;
  }

  .table-row .total {
    margin-left: auto;
    margin-top: auto;
    padding-bottom: 2rem;
    font-size: 16px;
  }

  .table-row {
    width: 100%;
    padding: 0 1rem;
  }

  .table-row .tr-img {
    margin-right: 1.5rem;
  }
  .table-descr {
    margin: unset;
    width: unset;
  }

  .table-row .unit {
    max-width: 7.5rem;
    gap: 2px;
    color: rgba(142, 142, 142, 1);
    border-color: rgba(142, 142, 142, 1);
    background-color: rgba(255, 255, 255, 1);
    margin: 1rem 0px;
  }

  .unit span {
    cursor: pointer;
    user-select: none;
    padding: 5px 10px;
  }

  .unit span:nth-child(1) .icon,
  .unit span:nth-child(3) .icon {
    height: 15px;
    width: 15px;
  }

  .unit span:nth-child(2) {
    background-color: rgba(245, 250, 245, 1);
  }

  .order_summary {
    width: 100%;
  }
}
