/* General styles */
.product-sect {
  margin: 2rem 5rem;
}

.product-sect .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-sect section header {
  font-size: 28px;
  line-height: 2.8;
}

/* Style for select boxes */
.product-sect .select-container {
  display: flex;
  gap: 10px;
}

.product-sect select {
  padding: 8px 10px;
  color: var(--primary-text-color);
  font-size: var(--primary-font-size);
  font-weight: 400;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  min-width: 160px;
  min-height: 36px;
}

.product-sect .cta-container,
.product-sect .cta-container span {
  display: flex;
  gap: 10px;
}

.product-sect .cta-container span {
  border: 1px solid;
  border-radius: 8px;
  padding: 8px 10px;
  min-width: 150px;
  min-height: 36px;
  align-items: center;
}

.product-sect .cta-container span:first-child {
  color: rgba(255, 153, 153, 1);
}
.product-sect .cta-container span:last-child {
  background-color: var(--primary-color);
  color: rgba(255, 255, 255, 1);
}
.product-sect .cta-container span .prod-icon {
  width: 20px;
  height: 20px;
}

/* Product Item */
.product-listings {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  margin-top: 2.4rem;
  margin: 0 auto;
  padding: 0 20px;
}

.product-item {
  background-color: var(--product-item-bgc);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.product-img {
  width: 100%;
  padding: 0 50px;
  background-color: var(--product-item-bgc);
  min-height: 413px;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-deets {
  margin-top: 20px;
  width: 100%;
}

.product-deets div {
  display: flex;
  justify-content: space-between;
}

.product-deets .product-name {
  font-weight: 500;
  font-size: var(--primary-font-size);
  color: var(--footer-light-text);
  line-height: 1.25;
}

.product-deets .product-price {
  font-weight: 700;
  font-size: var(--nav-font-size);
  text-align: right;
}

.product-deets .product-descr {
  font-weight: 400;
  font-size: var(--small-font-size);
  color: rgba(79, 79, 79, 1);
}

/* CTA buttons */
.product-cta {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 40px;
  width: 100%;
}

.product-cta .cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 0;
  font-size: var(--primary-font-size);
  min-height: 48px;
  min-width: 190px;
}

.product-cta .cta-btn:first-child {
  background-color: var(--primary-color);
  border: none;
  text-decoration: none;
}

.product-cta .cta-btn:first-child a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.product-cta .cta-btn:last-child {
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  gap: 10px;
}

.product-cta .cta-btn:last-child .cta-icon {
  width: 24px;
  height: 24px;
}

/* Responsive styles */
@media screen and (max-width: 960px) {
  .product-sect {
    margin: 1rem 3rem;
  }

  .product-listings {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding: 0 10px;
  }

  .product-cta .cta-btn:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .product-listings {
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 0 5px;
    justify-content: center;
  }

  .product-item {
    margin: 0 5px;
  }

  .product-img {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
