@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-text-color: rgba(0, 0, 0, 1);
  --secondary-text-color: rgba(85, 85, 85, 1);
  --font-family: "Lato", sans-serif;

  --primary-color: rgba(57, 189, 59, 1);
  --secondary-color: rgba(142, 142, 142, 1);
  --header-background-color: rgba(231, 243, 231, 1);

  ---nav-font-size: 20px;
  --primary-font-size: 16px;
  --small-font-size: 12px;

  --footer-light-text: rgba(35, 35, 35, 1);
}
